name: CI
on:
  push:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: Build
        run: |
          cargo build --workspace --all-targets
          cargo build -p htx --features rustls-config --examples
      - name: Test
        run: |
          cargo test --workspace --all-features
          cargo test -p htx --features rustls-config
